/*
=========================================================
Global
=========================================================
*/

/* ==Clearfix */
.clearfix {
  display:inline-block;
}
* html .clearfix {
  height:1%;
}

/* hides clearfix from IE-mac */
.clearfix {
  display:block;
}
/* end hide from IE-mac

/* ==Metronic */
.btn-block + .btn-block { margin-left: 0; }

/* Hide before loading background */
.lazy {
  display: none;
}


.opaq {
  opacity: 0.01;
}
.opaq button{
  display: none;
}

/* =========================================================
==Alerts
========================================================= */

.alert {
  border-radius: 0;
  opacity: 1;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  transition: all 2.8s;
  visibility: visible;
  z-index: 9999;
}
.alert.cshide  {
  opacity: 0;
  visibility: hidden;
}
.alert-beta {
  position: relative;
  margin: 0;
}

/* =========================================================
==TYPO
========================================================= */

/*
* Display
*/
.center {
  text-align: center;
}
.left {
  text-align: center;
}
.right {
  text-align: center;
}

.italic {
  font-style: italic;
}
.bold {
  font-style: bold;
}

/*
* Colors
*/
.brown {
  color: #482817;
}
.white {
  color: #fff;
}

.bg-white {
  background-color: #fff;
}

/*
* backgrounds
*/
.white-bg {
  background-color: #fff;
}

/*
* Fonts
*/
body {
  font-family: 'Source Sans Pro', sans-serif;
  color:#2c3e50;
  background-color: #eee;
  font-size: 13px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Droid serif', serif;
  color:#2c3e50;
}
.title-section {
  margin: 0.5em 0 2em;
  text-align: center;
  font-size: 20px;
}

/* =========================================================
==Inputs
========================================================= */

.input-group {
  margin-bottom: 10px;
}
.form-group {
  position: relative;
}

/* =========================================================
==Buttons
========================================================= */

.btn {
  color: #fff;
  border: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding: 0.5em 1em;
  position: relative;
  text-transform: uppercase;
}
.btn:focus {
  box-shadow: none;
  color: #f2f2f2;
  outline: none!important;
}
.btn:hover {
  color: #f2f2f2;
}
.btn:active {
  color: #f2f2f2;
  box-shadow: none;
  outline: none;
  top: 3px;
}
.btn i {
  padding-left: 15px;
  top: 2px;
}

.btn-black {
  background-color: #222222;
  padding: 1em;
}

/* Shadow */
.btn-shadow-yellow {
  background-color: #dd9933;
  color: #fff;
  border-radius:5px!important;
  box-shadow: 0px 3px 0px #947514;
}
.btn-shadow-yellow:hover {
  box-shadow: 0px 3px 0px #947514;
}
.btn-shadow-yellow:focus {
  box-shadow: 0px 3px 0px #947514;
}
.btn-shadow-yellow:active {
  box-shadow: none;
  outline: none;
  top: 3px;
}

.btn-shadow-gray {
  background-color: #5a5a5a;
  border-radius:5px!important;
  box-shadow: 0px 3px 0px #313131;
  color: #fff;
}
.btn-shadow-gray:hover {
  box-shadow: 0px 3px 0px #313131;
}
.btn-shadow-gray:focus {
  box-shadow: 0px 3px 0px #313131;
}
.btn-shadow-gray:active {
  box-shadow: none;
  outline: none;
  top: 3px;
}

.btn-shadow-blue {
  background-color: #2c3e50;
  border-radius:5px!important;
  box-shadow: 0px 3px 0px #131b23;
  color: #fff;
}
.btn-shadow-blue:hover {
  box-shadow: 0px 3px 0px #131b23;
}
.btn-shadow-blue:focus {
  box-shadow: 0px 3px 0px #131b23;
}
.btn-shadow-blue:active {
  box-shadow: none;
  outline: none;
  top: 3px;
}

/* =========================================================
==Containers
========================================================= */

section.container,
section.container-fluid {
  padding: 3em 15px;
}
section.container-fluid > .container,
section.container {
  max-width: 1000px;
}

.margin-bottom-1 {
  margin-bottom: 1em;
}

/* =========================================================
==Images
========================================================= */
.img-responsive {
  min-width: 100%;
}

/* =========================================================
==Wysiwyg
========================================================= */
.note-editor {
  background-color: #fff;
}
.note-editor .note-color,
.note-editor .note-fontname,
.note-editor .note-help,
.note-editor .note-insert,
.note-editor .note-view,
.note-editor .note-table,
.note-editor .note-color,
.note-editor .note-height {
  display: none;
}
/* Hide before loading */
.wysiwyg-input {
  display: none;
}

body.contributions-add .custom-wyz {
  display: none;
}
body.contributions-add .custom-wyz.custom-visible {
  display: block;
}

/* =========================================================
==Navbar
========================================================= */

.navbar {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  background-color: #fff;
  height: 60px;
  margin-bottom: 0;
}
.navbar .container {
  max-width: 1000px;
  position: relative;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{
  height: 60px;
  margin-left: -10px;
  margin-right: 30px;
  position: relative;
}

.navbar-collapse {
  border: none;
}
.nav-registration {
  float: right;
}

.navbar .dropdown .dp-pix{
  height: 25px;
  width: 25px;
}

.navbar-nav {
  background-color: #fff;
  margin-bottom: 0;
  margin-top: 0;
}
.navbar .nav li.active {
  background-color: #eee;
}
.navbar .nav li a {
  color: #3e4149;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
}

#navbar .nav li:not(:last-child) {
  border-right: 1px solid #eee;
}

.navbar .dropdown ul li a {
  color: #3e4149;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: uppercase;
  font-size: 14px;
  font-weight: bold;
}
.navbar .dropdown .btn {
  border-radius:5px!important;
  color: #3e4149!important;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: uppercase; font-size: 14px;
  font-weight: bold;
}
.navbar .dropdown .dropdown-menu {
  border-radius: 5px!important;
  z-index: 9999;
}

.nav-registration,
.navbar .dropdown {
  position: absolute;
  right: 15px;
  top: 9.5px;
}
.nav-registration > .btn {
  display: inline-block;
  padding: 9px 15px;
}
.nav-registration > .btn-icon {
  display: none;
  padding: 9px 15px;
}
.navbar .layout .nav-registration > .btn-icon i {
  padding: 0;
}

/* Toggle */
.navbar-toggle {
  z-index: 99999;
}
.navbar-toggle .icon-bar {
  background-color: #3e4149;
}

@media (max-width: 992px){

    .navbar .layout .nav-registration > .btn {
      display: none;
    }
    .navbar .layout .nav-registration > .btn-icon {
      display: inline-block;
    }
}

@media (max-width: 990px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
      display: none!important;
    }
    .navbar-collapse.in {
      display: block!important;
    }

    .navbar-nav {
        float: none!important;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .navbar .layout {
      position: absolute; left: 50%;
    }
    .navbar .layout .nav-registration, .navbar .dropdown {
      left: -50%;
      position: relative;
      top: 9.5px;
    }
    .navbar .layout .nav-registration > .btn {
      display: inline-block;
    }
    .navbar .layout .nav-registration > .btn-icon {
      display: none;
    }

    .navbar-collapse {
      float: none;
    }
    .navbar>.container .navbar-brand,
    .navbar>.container-fluid .navbar-brand {
      margin-left: 0;
    }
}

@media (max-width: 460px){

    .navbar .layout .nav-registration > .btn {
      display: none;
    }
    .navbar .layout .nav-registration > .btn-icon {
      display: inline-block;
    }

}

/* =========================================================
==Footer
========================================================= */

/*
* Before
*/
footer {
  background-color: #323232;
  font-size: 12px;
}
footer .footer-header {
  background-color:  #dd9933;
  font-family: 'Droid Serif', serif;
  font-size: 14px;
  max-height: 114px;
  padding: 1.5em 0;
  position: relative;
}
footer .footer-header .container {
  max-width: 1000px;
}
footer .footer-header::before {
  background-color: #e8e8e8;
  bottom: 0;
  display: block;
  left: 50%;
  position:absolute;
  right: 0;
  top: 0;
}
footer .footer-header::after {
  border-bottom: 57px solid transparent;
  border-left: 26px solid #dd9933;
  border-top: 57px solid transparent;
  height: 0;
  left: 50%;
  position:absolute;
  top: 0;
  width: 0;
}
footer .footer-header .row > div:last-child {
  padding-bottom: 1.5em;
  padding-top: 1.2em;
}
footer .footer-header .row div > p:first-child {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

@media (max-width: 1200px){

  footer .footer-header {
    text-align: center;
    max-height: none;
    background-color: #e8e8e8;
  }
  footer .footer-header::before {
    background-color: #e8e8e8;
  }
  footer .footer-header::after {
    border: none;
  }
  footer .footer-header .row div > p:first-child {
    color: #dd9933;
  }
}

/*
* Content
*/
footer .footer-content {
  background: url('img/footer-bg2.jpg') repeat;
  border-bottom: 7px solid #363636;
  border-top: 7px solid #363636;
  padding: 40px 0;
  text-shadow: 2px 2px 2px #000;
}
footer .footer-content .container {
  max-width: 1000px;
}
footer .footer-content .footer-title {
  font-family: 'Droid Serif', serif;
  font-style: italic; color: #bbbbbb;
  overflow: hidden;
  white-space: nowrap;
}
footer .footer-content .footer-title:after {
  content:'ILFAUTFAIREDELAPLACEJESAISCESTPASPROPREMAISLAFAIMJUSTIFIELESMOYENSTOIMEMETUSAISFREROALLEAPLUSJEBISETRIPLEBISEHIGHFIVESWAGDEPOULESISILAMIFAONESTAL';
  background: url('img/footer-shape.png') repeat-x; color: transparent;
  text-shadow: none;
  margin-left: 10px;
}
footer .footer-content ul {
  color:#dddddd;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

footer .footer-content .footer-stats {
  color: #999999;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: right;
}
footer .footer-content .footer-stats li {
 padding: 0.5em 0;
}
footer .footer-content .footer-stats span {
  display: block;
  color: #fff;
  font-size: 28px;
}
footer .footer-content .footer-stats hr {
  border: 1px solid #383838;
  margin: 0;
}

footer .footer-content .footer-members li {
  border-bottom: 1px solid #383838;
  padding: 0.8em 0;
}
footer .footer-content .footer-members li a {
  color: #dddddd;
  text-decoration: underline;
  text-transform: capitalize;
}
footer .footer-content .footer-members li span:first-child{
  float: left;
  width: 44px;
}
footer .footer-content .footer-members li span:last-child{
  float: left;
  width: 80%;
}

footer .footer-content .footer-about {
  color: #999999;
}
footer .footer-content .footer-about li{
  padding: 0.8em 0;
}

footer .footer-content .footer-trees li {
  padding: 1em 0;
  border-bottom: 1px solid #383838;
}
footer .footer-content .footer-trees li a{
  color: #dddddd;
}

@media (max-width: 768px){
  footer .footer-content .footer-stats {
    text-align: center;
  }
  footer .footer-col {
    margin-bottom: 1em;
  }
}

/* After */
footer .sub-footer {
  background-color: #1e1e1e;
  color: #999999;
  padding: 20px 0;
}
footer .sub-footer .container {
  max-width: 1000px;
}
footer .sub-footer .row div:last-child {
  text-align: right;
}
footer .sub-footer ul {
  margin: 0;
}
footer .sub-footer ul li {
  padding: 0;
}
footer .sub-footer ul li+li:before {
  content: '·'; margin: 0 5px;
}
footer .sub-footer ul li a{
  color: #999999;
}

@media (max-width: 768px){

  footer .sub-footer,
  footer .sub-footer .list-unstyled {
    text-align: center;
  }
}

/* =========================================================
==Errors
========================================================= */
.error-404 {
  background-color: #5a5a5a;
  padding: 90px!important;
}
.error-404 .container {
  background-color: #fff;
  border: 12px solid #ecf0f1;
  padding: 35px 50px;
  text-align: center;
  width: 500px;
}
.error-404 .container h3 {
  color: #000;
  font-style: italic;
  font-size: 30px;
}
.error-404 .container p {
  margin: 30px 0;
}
.error-404 .container .error-404-title {
  color: #d0d6d7;
  font-family: 'Droid Serif', serif;
  font-size: 30px;
  font-style: italic;
  margin: 0;
}
.error-404 .container .btn {
  background-color: #27ae60;
  font-size: 15px;
  padding: 10px 15px;
}

/*
* Forms
*/
input.form-error {
  border-color: red;
}
.error-message {
  color: #a94442;
  position: absolute;
  right: 5px;
  top: 0;
}
.custom-input-file .error-message {
  top: -20px;
  left: 0;
}

/* =========================================================
==Contributions
========================================================= */

/*
* Add
*/
.contributions-add .cover {
  background: #222a59;
}
.contributions-add .cover > .container {
  max-width: 1000px;
}
.contributions-add .cover .col-sm-12 {
  padding-top: 50px; padding-bottom:50px;
}
.contributions-add .cover h1 {
  color: #fff;
}
.contributions-add .cover p,
.contributions-add .cover a {
  color: #fff; font-family: 'Droid Serif', serif;
  font-weight: bold;
  word-spacing: 2px;
}

.text-actions .col-xs-6 > p { text-align: center; }

/*
* View
*/
.book {
  background-color: #fff;
  padding: 12px 20px 15px 20px;
}
.book-layout {
  box-shadow: inset 0 0 10px #c2c2c2;
  line-height: 1.8;
  max-height: 250px;
  overflow: auto;
  padding: 1em;
}

/*
* Index
*/
.home-cover {
  background: url('img/home-header.jpg') center center no-repeat;
  background-size: cover;
  overflow: hidden;
  padding: 7em 0;
  position: relative;
  text-align: center;
  width: 100%;
}
.home-cover h1 {
  font-size: 59px;
  font-weight: 400;
  color: #fff;
}
.home-cover p {
  color: #fff;
  font-family: 'Droid Serif', serif;
  font-size: 20px;
  margin: 1.8em;
}
.home-cover .btn {
  font-size: 25px;
  margin: 0.8em 0;
  padding: 0.5em 1em;
}
.home-cover .btn i {
  font-size: 25px;
  padding-left: 15px;
}
.home-cover .stripe {
  border-bottom: 1px dotted #10121b;
  color: #10121b;
  display: block;
  font-size: 13px;
  margin: 1.8em auto;
  width: 125px;
}
.home-cover .stripe:hover {
  border-color: #fff;
  color: #fff;
  text-decoration: none;
}

.pop-user {
  background-color: #fff;
}
.pop-user > .container {
  max-width: 1000px;
}
.pop-user > .btn {
  margin: 3em auto 1em;
  max-width: 300px;
}

@media (max-width: 400px) {
    .home-cover h1 {
      font-size: 46px;
    }
    .home-cover p {
      font-size:  18px;
    }
}

/*
* Index
*/

.info-participer {
  background-color: #222a59;
  border-radius: 5px;
  color: #fff;
  padding: 0 15px 15px;
}
.info-participer .icon-wrapper {
  color: #4d5479;
  margin: 0;
  padding: 32px 0 14px;
  text-align: center;
  width: 100%;
}
.info-participer .icon-wrapper i {
  font-size: 50px;
  margin: 0;
  padding: 0;
}
.info-participer .warn {
  color: #4d5479;
  font-size: 25px;
  margin:0 0 10px;
  padding: 0;
  text-align: center;
}
.info-participer p {
  line-height: 1.5;
  padding: 10px 10px 0;
}

.custom-input-file input {
  opacity: 0.01;
}
.custom-input-file label {
  background-color: #dd9933;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  height: 150px;
  line-height: 1;
  padding-top: 73px;
  text-align: center;
  width: 100%;
  z-index: 9999;
}
.custom-input-file i {
    color: #fff;
    font-size: 44px;
    left: 42%;
    position: absolute;
    top: 20%;
}
.custom-input-file small {
  font-size: 70%;
}

.custom-textarea-action {
  background-color: #c2c2c2;
  border-radius: 5px;
  cursor: pointer;
  height: 150px;
}
.custom-textarea-action input {
  opacity: 0.01;
}
.custom-textarea-action p {
  color: #fff;
  font-size: 18px;
  line-height: 1;
  margin-bottom: 0;
  padding-top: 73px;
  text-align: center;
}
.custom-textarea-action p small {
  font-size: 70%;
}
.custom-textarea-action i {
  color: #fff;
  font-size: 38px;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 28px;
  position: absolute;
  right: 0;
}

@media (max-width: 768px) {
  .info-participer {
    margin: 3em auto 0;
  }
}

/*
* Contributions
*/
.contribution-wrapper {
  background-color: #2e2e2e;
}
.contribution-wrapper .contribution {
  margin-bottom: 60px;
}

.contrib-sidebar {
  text-align: center;
}
.contrib-sidebar .contrib-avatar {
  background-color: #fff;
  border: 1px solid #dddddd;
  border-radius: 4px!important;
  padding: 4px;
}

.contrib-sidebar .contrib-user {
  padding-bottom: 30px;
  padding-top: 30px;
}
.contrib-sidebar .contrib-user p:first-child {
  color: #a2a2a2;
  font-family: 'Droid Serif', serif;
  font-style: italic;
  margin: 0;
}
.contrib-sidebar .contrib-user h3 {
  color: #fff;
  font-size: 20px;
  font-style: italic;
  margin: 0;
}
.contrib-sidebar .contrib-user .btn {
  background-color: #5a5a5a;
  font-weight: bold;
  margin-top: 30px;
  padding: 1em 0.5em;
}

.contrib-sidebar .contrib-call {
  background-color: #222222;
  margin-bottom: 10px;
  padding: 1.5em 1.7em;
}
.contrib-sidebar .contrib-call h3 {
  color: #fff;
  margin-bottom: 25px;
}
.contrib-sidebar .contrib-call p {
  color: #7e7e7e;
}
.contrib-sidebar .contrib-call .btn {
  background-color: #d9a709;
  font-weight: bold;
  padding: 1em 0.5em; margin-top: 20px;
}

.contrib-sidebar .contrib-meta {
  margin-top: 40px;
}
.contrib-sidebar .contrib-meta ul li{
  border-top: 1px solid #404040;
  color: #fff;
  font-family: 'Droid Serif', serif;
  padding: 20px 0;
  text-align: left;
}

.contrib-article {
  margin-bottom: 1em;
}
.contrib-article .contrib-header {
  margin-bottom: 2em;
  position: relative;
}
.contrib-article .contrib-header .btn {
  position: absolute;
  top: 0; right: 0;
}
.contrib-article .contrib-footer .btn {
  position: absolute;
  top: 35px; right: 0;
}
.contrib-article .contrib-header h1 {
  color: #fff;
  font-size: 35px;
  font-weight: normal;
  margin-top: 0;
}
.contrib-article .contrib-header .contrib-meta li {
  color: #a2a2a2;
  font-family: 'Droid Serif', serif;
  font-style: italic;
}
.contrib-article .contrib-header .contrib-meta li a{
  color: #a2a2a2;
  font-style: italic;
  margin-left: 5px;
}
.contrib-article .contrib-header .contrib-meta li i{
  margin-left: 15px;
}
.contrib-article .contrib-header .contrib-meta li span.margin{
  margin-left: 15px;
}

.contrib-article .contrib-actions .btn{
  background-color: #262626;
  border-radius: 0!important;
  color: #a2a2a2;
  padding: 20px 12px;
  text-transform: none;
}
.contrib-article .contrib-actions .prev{
  float: left;
}
.contrib-article .contrib-actions .next{
  float: right;
}
.contrib-article .contrib-actions .prev i {
  margin-right: 15px;
}
.contrib-article .contrib-actions .next i {
  margin-left: 15px;
}

.contrib-article .portlet {
  border-radius: 0; margin: 0;
}
.contrib-article .contrib-content {
  border-radius: 0!important;
  font-family: 'Baskerville'!important;
  font-size: 18px;
  line-height: 30px;
  padding: 15px;
}
.contrib-article .contrib-content p:last-child {
  font-family: 'Droid Serif' serif;
  margin:0;
  padding: 30px 0;
  position: relative;
  text-align: center;
  width: 100%;
}
.contrib-article .contrib-content p:last-child:before {
  border-top: 2px solid #d7d6d7;
  content: '';
  display: block;
  left: 0;
  position: absolute;
  top: 49px;
  width: 40%;
}
.contrib-article .contrib-content p:last-child:after {
  border-top: 2px solid #d7d6d7;
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 49px;
  width: 40%;
}

.contrib-article .contrib-footer {
  position: relative;
}

@media (max-width: 768px) {
  .contrib-article .contrib-header .btn{
    position: relative;
  }
}

/* =========================================================
==Trees
========================================================= */

/*
* Index
*/
.container.trees h1 {
  color: #fff;
  margin-bottom: 2em;
}
.tree-index-box {
  margin-bottom: 1em;
}
.participation {
  background-color: #fff;
  margin-bottom: 1em;
  min-height: 345px;
  transition: all 1.2s;
}
.last-trees.white-bg .participation {
  border: 1px solid #eee;
}
.participation:hover {
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
}
.participation .part-header {
  background-color: #1f285a;
  color: #fff;
  padding: 15px;
}
.participation .part-header.fin {
  background-color: #333;
  color: #fff;
  padding: 15px;
}
.participation .part-header div {
  background-color: #1f285a;
  border: 1px solid #2e3b7f;
  color: #fff;
  min-height: 97px;
  padding: 2em;
}
.participation .part-header div h3{
  color: #fff;
  font-size: 23px;
  margin: 0;
  text-align: center;
}
.participation .part-header div span{
  color: #94a4b4;
  display:block;
  font-family: 'Droid Serif', serif;
  font-size: 13px;
  padding: 5px;
  text-align: center;
  width: 100%;
}
.participation .part-content {
  padding: 30px 15px 20px 15px;
}
.participation .part-content .col-sm-10 {
  padding-left: 28px;
}
.participation .part-content .author-list {
  padding: 25px 0 10px;
}
.participation .part-content .excerpt {
  font-family: 'Baskerville', serif; font-size: 18px;
  margin-top: 0;
  min-height: 125px;
}
.participation .part-footer {
  padding-bottom: 22px;
  padding-left: 15px;
  text-align: center;
}
.participation .part-title {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
}

.users-profile .participation .part-footer {
  text-align: left;
}
.trees-index .participation .part-header {
  min-height: 138px;
}

/* =========================================================
==Users
========================================================= */

/*
* Portlet
*/
.user-portlet {
  text-align: center;
  border: 1px solid #d7d7d7;
  margin-bottom: 2em;
}
.user-portlet .user-portlet-header {
  position: relative;
}
.user-portlet .user-portlet-header .layout {
  position: absolute;
  left: 50%;
  bottom: -27px;
}
.user-portlet .user-portlet-header .layout img {
  position: relative;
  left: -50%;
  border: 2px solid #fff;
}
.user-portlet .user-portlet-content {
  padding: 1em 1em;
  text-align: justify;
}
.user-portlet .user-portlet-content h4 {
  font-size: 19px;
  margin: 30px 0 15px;
  text-align: center;
}
.user-portlet .user-portlet-content p {
  font-size: 14px;
  font-family: 'Droid Serif', serif;
  min-height: 80px;
  text-align: center;
}
.user-portlet .user-portlet-addon { border-top: 1px solid #d7d7d7; padding: 1em;
  text-align: left;
}

.btn-portlet {
  border-top: 1px solid #d7d7d7;
  border-radius:0;
  color: #2b2a2a;
  display: block;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12.8px;
  font-weight: bold;
  padding: 14px 0;
  width: auto;
}
.btn-portlet:visited {
  color: #2b2a2a;
}
.btn-portlet:active {
  color: #fff;
}
.btn-portlet:hover {
  background-color: #2b2a2a;
  color: #fff;
  top:0;
}

.recall {
  font-size: 16px;
}

/* Edit */
.user-edit-wrapper {
  background-color: #fff;
}

@media (max-width: 512px ){
  .pop-user .col-xs-6 {
    width: 100%;
  }
}

@media (max-width: 992px) and (min-width: 768px) {
  .user-portlet .user-portlet-header .layout img {
    height: 70px;
    width: 70px;
  }
}

/*
* Search Page
*/
body.users-index .results {
  background-color: #f2f2f2;
}

.reset-form-btn {
  border: none;
  background-color: #fff;
  position: absolute;
  left: 75%;
  top: 50%;

  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
}

.search-cover {
  background: url('img/home-header.jpg') center center no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  width: 100%;
  padding-top: 1em;
}
.search-cover .container {
  max-width: 1000px;
}
.search-cover h1 {
  color: #fff;
  font-size: 35px;
  font-weight: 400;
  margin-bottom:1em;
  padding-top: 1em;
  min-height: 100px;
}
.search-cover .searchBar {
  background-color: rgba(0,0,0,0.4);
  padding: 3em 0;
  position: relative;
}
.search-cover .searchBar .container{
  position: relative;
}
.search-cover .searchBar input {
  border-radius: 0;
  border: none;
  float: left;
  height: 60px;
  padding: 0 1em;
  width: 80%;
}
.search-cover .searchBar .btn {
  border-bottom-left-radius: 0!important;
  border-top-left-radius: 0!important;
  float: left;
  height: 58px;
  padding: 0.5em 1.5em;
  width: 20%;
  z-index: 9999;
}
.search-cover .searchBar .searchBar-container {
  padding: 0;
  width: 90%;
}
.search-cover .searchBar .searchBar-container i {
  padding: 0;
}

#resultDiv {
  text-align: left;
  border-top: 1px solid #ccc;
  position: absolute;
  top: 100%;
  width: 80%;
  z-index: 999;
}
#resultDiv .container-fluid {
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #fff;
}
#resultDiv .container-fluid > div {
  padding: 0;
  margin: 0;
}
#resultDiv .container-fluid div a {
  display: block;
  font-size: 20px;
  height: 100%;
  line-height: 82px;
  padding-left: 2em;
  width: 100%;
}

@media (max-width: 768px) {
  #resultDiv .container-fluid .user-search-avatar {
    display: none;
  }
}
/*
* Profil
*/
#profile .profile-sidebar {
  margin-top: -105px;
}
#profile .profile-content {
  margin-top: -90px; font-family: 'Droid Serif', serif;
}
#profile .profile-userpic {
  padding: 4px; border: 1px solid #dddddd; border-radius: 4px!important; background-color: #fff;
}

#profile .user-name {
  color: #fff; font-size: 35px;
}
#profile .user-bio {
  margin-top: 2em;
}
#profile .user-bio textarea {
  font-style: italic;
  margin-top: 2em;
}
#profile .user-empty {
  margin-top: 2em;
  text-align: center;
}
#profile .profile-title {
  color: #3e4149;
  font-family: 'Droid Serif', serif;
  font-style:normal;
  font-weight: bold;
  font-size: 15px;
  margin: 0 0 1em;
}
#profile .profile-stats table {
  color: #3e4149;
  margin: 2em 0;
  text-align: center;
}
#profile .profile-stats span {
  font-size: 55px;
}
#profile .social-links {
  margin-top: 2em;
}
#profile .social-links a {
  text-decoration: none;
}
#profile .social-links i {
  font-size: 20px;
  margin-right: .3em;
}

.profil-cover {
  max-height: 270px;
  overflow: hidden;
  position: relative;
}
.shadow {
  box-shadow: inset 0 -50px 100px 15px rgba(0,0,0,0.8);
  height: 100%;
  left: -50%;
  position: absolute;
  top: 0;
  width: 500%;
}

@media (max-width: 768px) {
    .profil-cover {
      display: none;
    }
    #profile .profile-sidebar,
    #profile .profile-content {
      margin-top: 0;
    }
    #profile .user-name {
      text-align: center;
      margin: 1em 0;
      color: #3e4149;
    }
}
@media (max-width: 600px) {
    #profile .col-xs-6 {
      width: 100%;
    }
}

/*
* Login
*/
.login-cover {
  background: url('img/profile-header.jpg') center center no-repeat;
  background-size: cover;
}
.login-cover > .container {
  max-width: 1000px;
}
.login-cover .col-sm-12 {
  padding-bottom:85px;
  padding-top: 85px;
}
.login-cover h1 {
  color: #fff;
}

#login .login-box {
  background-color:#fff;
  border: 1px solid #dddddd;
  border-radius: 3px!important;
}
#login .login-box .box-content {
  padding: 8% 8% 0;
}
#login .login-box .box-footer {
  border-top: 1px solid #dddddd;
  margin-top: 1em;
  padding: 2% 1%;
  text-align: right;
}
#login .login-box .box-footer a {
  line-height: 2.5;
  margin-right: 1em;
}

#login .register-box {
  color: #fff;
  background-color: #dd9933;
  padding: 9%;
  text-align: center;
}
#login .register-box h4 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 30px;
  margin: 0 0 0.8em;
}
#login .register-box p {
  font-size: 18px;
}
#login .register-box .btn {
  font-size: 18px;
  margin-top: 0.7em;
  padding: 15px;
}

/*
* Register
*/
body.users-register {
  background-color: #fff;
}

#registration {
  padding-bottom: 6em;
  padding-top: 6em;
}
#registration .box {
  padding-left: 40px;
}
#registration .registration-wrapper {
  border-left: 4px solid #ccc;
  position: relative;
}

#registration .form-group.preview {
  display: inline-block;
  margin-left:15px;
  vertical-align: bottom;
}
#registration label[for="check-charte"] {
  margin-left: 15px;
}
#registration .register-btn {
  margin-bottom: -5px;
  margin-top: 30px;
  padding: 10px 30px;
}
#registration .charte {
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: inset 0 0 8px -1px rgba(0,0,0,0.5);
  margin: 15px auto;
  max-height: 170px;
  overflow: auto;
  padding: 1.7em 1em;
}
#registration .charte ul {
  padding-left: 18px;
}
#registration .cadre {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  display: inline-block;
  margin-bottom: 20px;
  max-width: 200px;
  max-height: 200px;
  padding: 4px;
}
#registration .cover-preview-frame,
.avatar-preview-frame {
  overflow: hidden;
  height: 100%;
  width: 100%;
}
#registration .cover-preview-frame img,
.avatar-preview-frame img {
  max-width: 100%;
}

#registration h4 {
  font-size: 19px;
  margin-bottom: 2em;
  margin-top: 30px;
  position: relative;
}
#registration .box:first-child h4 {
  margin-top: 0;
}
#registration .bubble {
  background-color: #4d5479;
  border-radius: 25px;
  color: #fff;
  display: block;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  height: 50px;
  left: -82px;
  line-height: 2.6;
  position: absolute;
  text-align: center;
  top: -14px;
  width: 50px;
}
#registration .last-bubble {
  background-color: #4d5479;
  border-radius: 25px;
  bottom: -12px;
  color: #fff;
  display: block;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 19px;
  font-weight: bold;
  height: 50px;
  left: -27px;
  line-height: 2.6;
  position: absolute;
  text-align: center;
  width: 50px;
}

@media (min-width: 1080px){
  #login .register-box,
  #login .login-box {
    height: 256px;
  }
}

@media (max-width: 768px){
  #registration form {
    padding-left: 30px;
  }

  #registration .form-group.preview {
    display: block;
    margin-left:0;
  }
  #registration .form-group.preview input {
    max-width: 96px;
  }

}

/* =========================================================
==Cover
========================================================= */
.page-cover { background: url('img/profile-header.jpg') center center no-repeat;
  background-size: cover;
}
.page-cover > .container {
  max-width: 1000px;
}
.page-cover .col-sm-12 {
  padding-bottom:85px;
  padding-top: 85px;
}
.page-cover h1 {
  color: #fff;
}

@media (max-width: 768px) {

  .page-cover h1 {
    text-align: center;
  }

}
/* =========================================================
==Pages
========================================================= */
/*
* How it works
*/
.page-cover { background: url('img/profile-header.jpg') center center no-repeat;
  background-size: cover;
}
.page-cover > .container {
  max-width: 1000px;
}
.page-cover .col-sm-12 {
  padding-bottom:85px;
  padding-top: 85px;
}
.page-cover h1 {
  color: #fff;
}

/*
* Mentions
*/
.mentions {
  background-color: #fff;
}

@media (max-width: 768px) {

  .page-cover h1,
  .login-cover h1,
  .add-contrib-cover h1 { text-align: center; }

}

.featurette > .container-fluid > .container {
  max-width: 1000px;
}

.featurette {
  background-color: #fff;
  padding-bottom: 70px;
}
.featurette .featurette-heading .bubble {
  background-color: #4d5479;
  border-radius:25px;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  height: 50px;
  left: -70px;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: -12px;
  width: 50px;
}

.featurette .lead {
  font-size: 16px;
  line-height: 1.7;
}
.featurette .featurette-heading {
  color: #dd9933;
  position: relative;
  margin-bottom: 1em;
  font-size: 27px;
  font-family: 'Droid Sans', sans-serif;
}
.featurette .intro {
  padding-bottom: 70px;
  padding-top: 70px;
  text-align: center;
}
.featurette .featurette-account {
  background-color: #f6f6f6;
}
.featurette .featurette-account .container {
  padding-left: 90px;
  padding-bottom: 60px;
  padding-top: 100px;
}
.featurette .featurette-story .container {
  padding-bottom: 200px;
  padding-top: 200px;
}
.featurette .featurette-contrib {
  background-color: #f6f6f6;
}
.featurette .featurette-contrib .container {
  padding-bottom: 100px;
  padding-left: 90px;
  padding-top: 100px;
}
.featurette .register {
  color: #fff;
  margin: 70px auto 0;
  max-width: 1000px;
  text-align: center;
}
.featurette .register .wrapper {
  background-color: #dd9933;
  padding-bottom: 35px;
  padding-top: 30px;
}
.featurette .register h3 {
  color: #fff;
  font-size: 30px;
  margin-top: 0;
}
.featurette .register p {
  font-family: 'Droid Serif', serif;
  font-size: 18px;
  margin: 20px auto;
  max-width: 330px;
}

.featurette .img-absolute {
  position: absolute;
}
.featurette .container-fluid {
  overflow: hidden;
}
.featurette .container {
  position: relative;
}
.featurette .container .wrapper{
  padding-right: 1em;
  padding-left: 1em;
}
.featurette .featurette-account .container .img-absolute {
  bottom: -91px;
  right: -210px;
}
.featurette .featurette-story .container .img-absolute {
  bottom: 100px;
  left: -145px;
}
.featurette .featurette-contrib .container .img-absolute {
  bottom: 50px;
  right: -210px;
}

@media (max-width: 992px) {
  .featurette .img-absolute {
    display: none;
  }
  .featurette .featurette-story .container {
    padding-left: 90px;
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .featurette .featurette-account .container {
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .featurette .featurette-contrib .container {
    padding-bottom: 50px;
    padding-top: 50px;
  }
}

/*
* Valid register
*/
.valid-register {
  background-size: cover;
  margin: 70px auto;
  padding: 3em;
  text-align: center;
  width: 518px; height: 360px; background: url('img/enveloppe.png') center center no-repeat;
}
.valid-register h3{
  color: #5d83a9;
  font-size: 30px;
  font-style: italic;
  margin: 40px auto 50px;
}
.valid-register p{
  color: #3e4149;
  font-size: 14px;
  line-height: 2;
}
.valid-register input {
  margin: 0 auto;
  width: 75%;
}

@media (max-width: 530px) {
  .valid-register {
    background: none;
    margin-top: 0;
    width: auto;
  }
}
/* =========================================================
==Mails
========================================================= */
#mailSubscribe .input-group {
  margin: 0; width: 100%;
  padding-left: 10%;
}
#mailSubscribe .input-group .input-group-btn {
  padding-left: 15px;
}
#mailSubscribe .input-group .mail-subscribe {
  border:none;
  border-radius: 5px!important;
  padding: 1.5em 1em;
}
#mailSubscribe .input-group button {
  background-color: #dd9933;
  border-radius: 5px!important;
  color: #fff;
  font-weight: bold;
  margin-top: -0.3em;
  padding: 1em 0.9em;
}

/* =========================================================
==Contact
========================================================= */
.contact-modal-wrapper {
  position: fixed;
  top: 50%;
  left: 0;
  background-color: #333;

  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  visibility: hidden;
}
#contact-modal {
  color: #fff;
  padding: .7em;
  text-orientation: sideways;
  text-transform: uppercase;
  font-size: 17px;

  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  -moz-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
}
#contact-modal:hover {
  text-decoration: none;
}
#contact-modal i {
  padding-top: 13px;
  font-size: 20px;
}

@media (min-width: 768px) {
  .contact-modal-wrapper {
    visibility: visible;
  }
}
